In [5]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\yanda\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\yanda\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\yanda\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\yanda\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\yanda\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\yanda\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\yanda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\yanda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\yanda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\yanda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\yanda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\yanda\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\yanda\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\yanda\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\yanda\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\yanda\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [6]:
!pip install webdriver_manager

Requirement already satisfied: webdriver_manager in c:\users\yanda\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: requests in c:\users\yanda\anaconda3\lib\site-packages (from webdriver_manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\yanda\anaconda3\lib\site-packages (from webdriver_manager) (0.21.0)
Requirement already satisfied: packaging in c:\users\yanda\anaconda3\lib\site-packages (from webdriver_manager) (23.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yanda\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yanda\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\yanda\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yanda\anaconda3\lib\site-packages (from requests->webdriver_manager) (2023.7.22)

In [95]:
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [41]:
#Define options and set browser capabilities
options=webdriver.ChromeOptions()

In [42]:
#create webdriver instance with options
driver=webdriver.Chrome(options=options)

In [43]:
#Navigate to a website
driver.get('https://www.myntra.com/')

In [44]:
search=driver.find_element(By.XPATH,".//input[@class='desktop-searchBar']")

In [45]:
search.send_keys("cardigan tops")

In [46]:
search.send_keys(Keys.ENTER)

In [53]:
brand=driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
brands=[i.text for i in brand]
print(brands)
print(len(brands))

['JoE Hazel', 'JoE Hazel', 'JoE Hazel', 'Tokyo Talkies', 'Tokyo Talkies', 'Roadster', 'Tokyo Talkies', 'LULU & SKY', 'Ardene', 'LULU & SKY', 'Roadster', 'Roadster', 'Roadster']
13

In [54]:
product=driver.find_elements(By.XPATH,".//h4[@class='product-product']")
products=[i.text for i in product]
print(products)
print(len(products))

['Woman Pink Cardigan', 'Woman Green Cardigan', 'Woman Black Cardigan', 'Crop Top With Cardigan', 'Crop Top With Cardigan', 'Solid Cardigan Set', 'Crop Top With Cardigan Sweater', 'Crop Top With Cardigan', 'Cardigan Style Crop Top', 'Mandarin Collar Cardigan Top', 'Solid Cardigan Set', 'Solid Cardigan Set', 'Solid Cardigan Set']
13

In [55]:
price=driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")
prices=[i.text for i in price]
print(prices)
print(len(prices))

['Rs. 699', 'Rs. 699', 'Rs. 699', 'Rs. 1956', 'Rs. 1399', 'Rs. 1079', 'Rs. 1549', 'Rs. 1856', 'Rs. 1899', 'Rs. 1681', 'Rs. 719', 'Rs. 839', 'Rs. 1079']
13

In [57]:
df=pd.DataFrame(columns=["Brand","Desc","Price"])
df

Empty DataFrame
Columns: [Brand, Desc, Price]
Index: []

In [58]:
df['Brand']=brands
df['Desc']=products
df['Price']=prices
df

            Brand                            Desc     Price
0       JoE Hazel             Woman Pink Cardigan   Rs. 699
1       JoE Hazel            Woman Green Cardigan   Rs. 699
2       JoE Hazel            Woman Black Cardigan   Rs. 699
3   Tokyo Talkies          Crop Top With Cardigan  Rs. 1956
4   Tokyo Talkies          Crop Top With Cardigan  Rs. 1399
5        Roadster              Solid Cardigan Set  Rs. 1079
6   Tokyo Talkies  Crop Top With Cardigan Sweater  Rs. 1549
7      LULU & SKY          Crop Top With Cardigan  Rs. 1856
8          Ardene         Cardigan Style Crop Top  Rs. 1899
9      LULU & SKY    Mandarin Collar Cardigan Top  Rs. 1681
10       Roadster              Solid Cardigan Set   Rs. 719
11       Roadster              Solid Cardigan Set   Rs. 839
12       Roadster              Solid Cardigan Set  Rs. 1079

In [59]:
df.to_csv("myntra.csv")

In [96]:
options=webdriver.ChromeOptions()

In [97]:
driver=webdriver.Chrome(options=options)

In [98]:
driver.get('https://www.amazon.in/')

In [99]:
search = driver.find_element(By.XPATH, ".//input[@id='twotabsearchtextbox']")

In [100]:
search.send_keys("Dell laptops")

In [102]:
search.send_keys(Keys.ENTER)

In [113]:
feature=driver.find_elements(By.XPATH,".//div[@class='a-section a-spacing-none puis-padding-right-small s-title-instructions-style']")
features=[i.text for i in feature]
print(features)
print(len(features))

['Sponsored\nDell 15 Laptop, Intel Core i3-1115G4, 8GB/1TB + 256GB SSD/15.6" (39.62cm) FHD with Comfort View/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon/Thin & Light-1.69kg', 'Sponsored\nDell 14 Laptop, 12th Gen Intel Core i3-1215U Processor/8GB/512GB SSD/Intel UHD Graphics/14.0"(35.56cm) FHD/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Grey/Thin & Light 1.48kg', 'Dell 15 Laptop, Intel Core i3-1115G4 Processor/8GB DDR4/512GB SSD/Intel UHD Graphics/15.6" (39.6cm) FHD 120Hz Refresh, 250 nits/Mobile Connect/Win 11+MSO\'21/15 Month McAfee/Black/Thin & Light-1.66kg', 'Dell 15 Laptop, Intel Core i5-1135G7 Processor/16GB DDR4/512GB SSD/Intel UHD Graphic/15.6" (39.562cm) FHD Display/Win 11+MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon/Thin & Light 1.69kg', 'Dell 15 Laptop, Intel Core i5-1135G7 Processor/ 8GB/ 1TB+256GB SSD/15.6"(39.62cm) FHD Display/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Black/Thin & Light 1.69kg', 'Dell 15 Laptop, Intel Core i5-1135G7 Processor/ 8GB DDR4/ 512GB SSD/ 15.6" (39.62cm) FHD/Mobile Connect/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon Black/Thin & Light-1.69kg', 'Dell 14 Laptop, 12th Gen Intel Core i5-1235U Processor, 16GB, 512GB, 14.0" (35.56cm) FHD Display, Windows 11 + MSO\'21, Spill-Resistant Keyboard, 15 Month Mcafee, Black, Thin & Light- 1.48kg', 'Dell Inspiron 3530 Laptop, 13th Gen Intel Core i5-1335U Processor/16GB/1TB SSD/15.6" (39.62cm) FHD Display/Backlit Keyboard/Platinum Silver/Win 11 + MSO\'21/15 Month McAfee/Thin & Light- 1.66kg', 'Dell 14 Laptop, 12th Gen Intel Core i3-1215U Processor/8GB/512GB SSD/Intel UHD Graphics/14.0"(35.56cm) FHD/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Grey/Thin & Light 1.48kg', 'Dell G15 5520 Gaming Laptop, Intel i5-12500H/16GB DDR5/1TB SSD/15.6" (39.62cm) FHD WVA AG 120Hz 250 nits/NVIDIA RTX 3050, 4 GB GDDR6/Win 11 + MSO\'21/15 Months McAfee/Backlit KB/Dark Shadow Grey/2.81kg', 'Sponsored\nLenovo ThinkBook 15 Intel 12th Gen Core i5 15.6" (39.62cm) FHD 250 Nits Antiglare Thin and Light Laptop (8GB/512GB SSD/Windows 11 Home/Backlit/Mineral Grey/1Y Premier Support/1.7 Kg), 21DJ00EXIH', 'Sponsored\nLenovo IdeaPad Slim 3 AMD Ryzen 3 7320U 15.6 inch (39.6cm) FHD Laptop (8GB/512GB SSD/Windows 11/Office 2021/Alexa Built-in/3 Month Game Pass/Arctic Grey/1.62Kg), 82XQ008DIN', 'Dell 14 Laptop, AMD Ryzen R5-5500U/ 8GB DDR4, 2400 MHz/ 512GB/ 14.0" (35.56cm) FHD Display with Comfort View/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Carbon Black/ 1.48kg', 'Dell 15 Laptop, Intel 12th Gen Core i3-1215U Proc/8GB DDR4/512GB SSD/Intel UHD Graphic/15.6" (38cm) FHD Display/Spill-Resistant Keyboard/Win11+MSO\'21/15 Month McAfee/Black/Thin & Light 1.69kg', 'Dell Inspiron 3530 Laptop, Intel Core i7-1355U Processor, 16GB, 512GB, 15.6" (39.62cm) FHD WVA AG 120Hz, Backlit KB + FPR, Win 11 + MSO\'21, 15 Month McAfee, Silver, 1.62kg', 'Dell G15 5530 Gaming Laptop, Intel i7-13650HX/16GB/1TB SSD/NVIDIA RTX 3050, 6 GB GDDR6/15.6" (39.62cm) FHD AG 120Hz 250 nits/Backlit KB RGB/Dark Shadow Grey/Win 11+MSO\'21/15 Month McAfee/2.65kg', 'Dell G15 5520 Gaming Laptop, Intel i5-12500H, 16GB DDR5, 512GB SSD, NVIDIA RTX 3050 (4GB GDDR6), 15.6"(39.62cm) FHD 120Hz 250 nits Display, Backlit KB Orange, Win 11 + MSO\'21, Dark Shadow Grey, 2.81kg', 'Dell 14 Metal Body Premium Laptop, Intel Core i5-1235U Proc/16GB DDR4/512GB SSD/Intel UHD Graphics/14.0" (35.56cm) FHD/Backlit Keyboard/Thin & Light 1.48kg/Win 11 + MSO\'21/15 Month McAfee/Dark Silver', 'Dell G15-5520 Gaming Laptop, Intel i5-12500H/8GB DDR5/512GB SSD/Win 11 + MSO\'21/NVIDIA RTX 3050 (4GB GDDR6)/15.6" (39.62cm) FHD WVA AG 120Hz 250 nits/Backlit KB Orange/Dark Shadow Grey/2.81kg', 'Dell Inspiron 3520 Laptop, Intel Core i5-1235U Processor, 8GB, 512GB, 15.6" (39.62cm) FHD WVA AG 120Hz 250 nits, Win 11 + MSO\'21, 15 Month MCAfee, Black, 1.65kg', 'Sponsored\nMSI Stealth 15, Intel 13th Gen. i7-13620H, 40CM FHD 144Hz Gaming Laptop (8GBx2/1TB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX4050, 6GB GDDR6/Black/2.1Kg), A13VE-034IN', 'Sponsored\nLenovo ThinkPad E14 Intel Core i5 12th Gen 14" FHD Thin and Light Laptop (16GB RAM/1TB SSD/Windows 11 Home/MS Office H&S 2021/FPR/Backlit Keyboard/Black/1.59 kg), 21E3S04U00']
22

In [114]:
price=driver.find_elements(By.XPATH,".//span[@class='a-price-whole']")
prices=[i.text for i in price]
print(prices)
print(len(prices))

['34,990', '35,990', '33,990', '47,990', '44,990', '43,990', '49,990', '67,980', '35,990', '76,990', '53,990', '34,990', '35,990', '35,990', '71,490', '99,990', '71,990', '55,990', '65,990', '46,600', '199', '1,29,990', '74,000']
23

In [129]:
dt=driver.find_elements(By.XPATH,".//span[@class='a-color-base']")
dts=[i.text for i in dt]
print(dts)
print(len(dts))

['', 'FREE delivery', 'Or fastest delivery', '', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', '₹66,999', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', '', 'FREE delivery', 'Or fastest delivery', '', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', 'Or fastest delivery', 'FREE delivery', '₹46,550', '', 'with coupon', 'FREE delivery', '', 'FREE delivery', 'Or fastest delivery', '', 'FREE delivery', 'Do something wonderful with Intel® Core™ laptops', 'AMD powered gaming laptops']
55

In [133]:
df1=pd.DataFrame(columns=['Features',"Price","Deliverytype"])
df1

Empty DataFrame
Columns: [Features, Price, Deliverytype]
Index: []

In [134]:
df1['Features']=features[0:10]
df1['Price']=prices[0:10]
df1['Deliverytype']=dts[0:10]
df1

,Features,Price,Deliverytype
0,"Sponsored\nDell 15 Laptop, Intel Core i3-1115G...","34,990",
1,"Sponsored\nDell 14 Laptop, 12th Gen Intel Core...","35,990",FREE delivery
2,"Dell 15 Laptop, Intel Core i3-1115G4 Processor...","33,990",Or fastest delivery
3,"Dell 15 Laptop, Intel Core i5-1135G7 Processor...","47,990",
4,"Dell 15 Laptop, Intel Core i5-1135G7 Processor...","44,990",FREE delivery
5,"Dell 15 Laptop, Intel Core i5-1135G7 Processor...","43,990",Or fastest delivery
6,"Dell 14 Laptop, 12th Gen Intel Core i5-1235U P...","49,990",FREE delivery
7,"Dell Inspiron 3530 Laptop, 13th Gen Intel Core...","67,980",Or fastest delivery
8,"Dell 14 Laptop, 12th Gen Intel Core i3-1215U P...","35,990",FREE delivery
9,"Dell G15 5520 Gaming Laptop, Intel i5-12500H/1...","76,990",Or fastest delivery

In [135]:
df1.to_csv("Dell.csv")

In [136]:
options=webdriver.ChromeOptions()
driver=webdriver.Chrome(options=options)
driver.get('https://www.myntra.com/')
search=driver.find_element(By.XPATH,".//input[@class='desktop-searchBar']")

In [137]:
search.send_keys('smart watches')
search.send_keys(Keys.ENTER)

In [139]:
br=driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
brs=[i.text for i in br]
print(brs)
print(len(brs))

['pebble', 'Fire-Boltt', 'pebble', 'NOISE', 'boAt', 'pebble', 'pebble', 'boAt', 'pebble', 'Fire-Boltt', 'Fire-Boltt', 'boAt', 'pebble', 'Fire-Boltt', 'boAt', 'CMF by Nothing', 'NOISE', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'boAt', 'pebble', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'boAt', 'Fire-Boltt', 'boAt', 'HAMMER', 'NOISE', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'NOISE', 'pebble', 'NOISE', 'pebble', 'NOISE', 'boAt', 'Fire-Boltt', 'boAt', 'Boult', 'boAt', 'Fastrack', 'NOISE', 'Fire-Boltt', 'boAt', 'Timex']
50

In [153]:
product=driver.find_elements(By.XPATH,".//h4[@class='product-product']")
products=[i.text for i in product]
print(products)
print(len(products))

['Celia 1.32" Display SmartWatch', 'Starlight Bluetooth Smartwatch', 'Women 1.27" Smart Watch', 'Fit Posh Smartwatch', 'Ultima Prism Smart Watch', 'Cosmos Quest Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Unisex Wave Genesis Smartwatch', 'Women 1.27" Smart Watch', 'Hulk 1.78 inch Smartwatch', 'Eclipse Luxe 1.43" Amoled', 'Ultima BT Calling Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Hurricane Smartwatch', 'Unisex Ultima Prism Smartwatch', 'Watch Pro', 'Fit Posh Smartwatch', 'Eclipse Luxe 1.43" Amoled', 'Mettle EliteEdition Smartwatch', 'Rock AMOLED Display Smartwatch', 'Lunar Connect Ace', 'Celia 1.32" Display SmartWatch', 'Aura BT Calling Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Crusader Amoled 1.43BT Calling', 'Storm Plus AMOLED Smart Watch', 'Hurricane Smartwatch', 'Unisex Wave Genesis Smartwatch', 'Unisex Pulse 2.0 Smart Watch', 'NoiseFit Evolve 3 Smartwatch', 'Hulk 1.78 inch Smartwatch', 'Hive 1.39" Display Smart Watch', 'Hurricane Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Cobra AMOLED Smart Watch', 'ColorFit Pro 5 Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Color Fit Loop Smartwatch', 'BT Calling Luxury Smartwatch', 'Fit Posh Smartwatch', 'Unisex Ultima Prism Smartwatch', 'Commando BT Calling Smartwatch', 'Lunar Mirage Smartwatch', 'Striker Pro Smart Watch', 'Enigma Z40 Smartwatch', 'FS2 BT Calling Smartwatch', 'ColorFit Vision 3 Smartwatch', 'Supernova Bluetooth SmartWatch', 'Enigma X400 Smartwatch', 'iConnect Gen+ Smart Watch']
50

In [154]:
p=driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")
ps=[i.text for i in p]
print(ps)
print(len(ps))

['Rs. 1599', 'Rs. 2299', 'Rs. 1799', 'Rs. 2349', 'Rs. 2499', 'Rs. 1599', 'Rs. 1899', 'Rs. 2299', 'Rs. 1799', 'Rs. 1799', 'Rs. 1899', 'Rs. 1599', 'Rs. 1700', 'Rs. 2349', 'Rs. 3499', 'Rs. 1799', 'Rs. 1999', 'Rs. 2249', 'Rs. 3199', 'Rs. 1999', 'Rs. 2299', 'Rs. 1999', 'Rs. 1799', 'Rs. 1899', 'Rs. 1899', 'Rs. 1850', 'Rs. 1899', 'Rs. 1849', 'Rs. 2449', 'Rs. 1799', 'Rs. 1699', 'Rs. 1899', 'Rs. 1799', 'Rs. 1899', 'Rs. 3999', 'Rs. 1599', 'Rs. 2499', 'Rs. 1999', 'Rs. 1799', 'Rs. 2599', 'Rs. 2499', 'Rs. 1599', 'Rs. 2499', 'Rs. 4799', 'Rs. 1999', 'Rs. 3499', 'Rs. 1899', 'Rs. 4899', 'Rs. 2527']
49

In [159]:
df2=pd.DataFrame(columns=["Brands","Prices","Features"])
df2

Empty DataFrame
Columns: [Brands, Prices, Features]
Index: []

In [163]:
df2['Brands']=brs[0:30]
df2['Prices']=ps[0:30]
df2['Features']=products[0:30]
df2

            Brands    Prices                                  Features
0           pebble  Rs. 1599            Celia 1.32" Display SmartWatch
1       Fire-Boltt  Rs. 2299            Starlight Bluetooth Smartwatch
2           pebble  Rs. 1799                   Women 1.27" Smart Watch
3            NOISE  Rs. 2349                       Fit Posh Smartwatch
4             boAt  Rs. 2499                  Ultima Prism Smart Watch
5           pebble  Rs. 1599                   Cosmos Quest Smartwatch
6           pebble  Rs. 1899  Cosmos Ultra 1.91" BT Calling Smartwatch
7             boAt  Rs. 2299            Unisex Wave Genesis Smartwatch
8           pebble  Rs. 1799                   Women 1.27" Smart Watch
9       Fire-Boltt  Rs. 1799                 Hulk 1.78 inch Smartwatch
10      Fire-Boltt  Rs. 1899                 Eclipse Luxe 1.43" Amoled
11            boAt  Rs. 1599              Ultima BT Calling Smartwatch
12          pebble  Rs. 1700  Cosmos Ultra 1.91" BT Calling Smartwatch
13      Fire-Boltt  Rs. 2349                      Hurricane Smartwatch
14            boAt  Rs. 3499            Unisex Ultima Prism Smartwatch
15  CMF by Nothing  Rs. 1799                                 Watch Pro
16           NOISE  Rs. 1999                       Fit Posh Smartwatch
17      Fire-Boltt  Rs. 2249                 Eclipse Luxe 1.43" Amoled
18           NOISE  Rs. 3199            Mettle EliteEdition Smartwatch
19      Fire-Boltt  Rs. 1999            Rock AMOLED Display Smartwatch
20            boAt  Rs. 2299                         Lunar Connect Ace
21          pebble  Rs. 1999            Celia 1.32" Display SmartWatch
22      Fire-Boltt  Rs. 1799                Aura BT Calling Smartwatch
23           NOISE  Rs. 1899                ColorFit Icon 2 Smartwatch
24      Fire-Boltt  Rs. 1899            Crusader Amoled 1.43BT Calling
25            boAt  Rs. 1850             Storm Plus AMOLED Smart Watch
26      Fire-Boltt  Rs. 1899                      Hurricane Smartwatch
27            boAt  Rs. 1849            Unisex Wave Genesis Smartwatch
28          HAMMER  Rs. 2449              Unisex Pulse 2.0 Smart Watch
29           NOISE  Rs. 1799              NoiseFit Evolve 3 Smartwatch

In [164]:
df2.to_csv("smartwatches.csv")